{% extends "main.html" %}

{% block pageBody %}

<div id = "loginBox">
	
	<div>
		
			<h2>Login</h2>
			<form method = "post" action = "">
				{% csrf_token %}
				<div class= "form-group">
				<label>Username:</label>
				<input type="text" class = "form-control" placeholder = "Enter Username" id = "id_username" name = "username" required autofocus="" maxlength="254">
				</div>
				<div class="form-group">
				<label>Password</label>
				<input type="password" class = "form-control" placeholder = "Enter Password"  id = "id_password" name = "password" required>
				</div>
				<input type = "submit"  value = "Log In" class = "btn btn-success" style="width:100%;">
				<input type = "hidden" name = "next" value="{{next}}">

				
			</form>
			<p style = "padding-top:1vh;">Don't have an account? <a href="{% url 'registration_register' %}">Sign Up</a> now! </p>
				
		
	</div>

</div>
{% endblock %}